@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1653572846290') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianyingpiaoiocn:before {
  content: "\e60e";
}

.icon-yingyuan:before {
  content: "\e8c0";
}

.icon-wode:before {
  content: "\e602";
}

